<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">BlogSite</a>
        
        {% if user.is_authenticated %}
        <div>
        <h2>Welcome {{user}}</h2>
        <a href="{% url 'createPost' %}">New Post</a>
        
        <form action="/logout/" method="POST">
        {% csrf_token %}
       <button type="submit">Logout</button>
    </form>
        {% else %}
        <div>
        <a href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
    </nav>


    {% block content %}
    {% endblock %}
    

</body>
</html>