<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     {% if form.errors  %}
        Username or password incorrect
        {% endif %}
   
        <form action="/login/" method="POST">
       
        {%csrf_token%}
        <div>
            <label for="">Enter the username</label> <input type="text" name="username">
            <label for="">Enter the password</label> <input type="password" name="password">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>